@import "core.css";
.wrapper {
    max-width: 1024px;
    display: grid;
    grid-template-areas: "content" "footer";
}

.content {
    grid-area: content;
    text-align: center;
}

form>p,
form>div {
    font-size: 13px;
    width: 300px;
    margin: auto;
}

.content label {
    font-size: 14px;
}

.content a {
    color: #f9a826;
    font-size: 15px;
}

.db-warn-msg {
    margin-top: 30px;
    width: 100%;
}

.db-warn-msg p {
    margin: 0 auto;
    width: 500px;
    background-color: #e97450;
    font-size: 15px;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}