/********************************************************************************/
/* Header & Toolbar Styles */
/********************************************************************************/
html {
  /* avoid bootstrap overriding font-size and breaking Mui */
  font-size: initial;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
}

.mindplot-root {
  width: 100%;
  height: 100%;
}
.panelIcon {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  margin-top: 3px;
  cursor: pointer;
}

.panelIcon:hover {
  background-color: #efefef;
}

.wise-editor .popover {
  font-size: 13px;
  max-width: none;
}

#keyboardTable {
  font-family: Arial, verdana, serif;
  font-size: 13px;
  width: 100%;
}

#keyboardTable td {
  padding: 3px;
  white-space: nowrap;
}

#keyboardTable th {
  padding: 5px;
  white-space: nowrap;
}

#keyboardTable th {
  background-color: #000000;
  color: #ffffff;
}

.tryInfoPanel {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  background-color: white;
  border: solid 2px #ffa800;
  margin: auto;
  border-radius: 9px;
  width: 80%;
}

@media (min-width: 600px) {
  .tryInfoPanel {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .tryInfoPanel {
    font-size: 13px;
  }
}

.tryInfoPanel .tryInfoPanelInner {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.tryInfoPanel .tryInfoPanelInner .closeButton {
  position: absolute;
  top: 5px;
  right: 5px;
}

.tryInfoPanel .tryInfoPanelInner .closeButton button {
  cursor: pointer;
  border-style: hidden;
  background-color: transparent;
  padding: 0px;
}

.tryInfoPanel .tryInfoPanelInner .closeButton button img {
  width: 18px;
  height: 18px;
  filter: invert(73%) sepia(21%) saturate(4699%) hue-rotate(357deg) brightness(98%) contrast(108%);
}

.tryInfoPanelWithToolbar {
  top: 75px;
}

.tryInfoPanelWithoutToolbar {
  top: 5px;
}

.tryInfoPanelClosed {
  display: none;
}

.tryInfoPanel>p {
  justify-content: center;
}