/********************************************************************************/
/* Header & Toolbar Styles */
/********************************************************************************/
body {
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
}

.mindplot-div-container {
  width: 100%;
  height: 100%;
}

.wise-editor .popover {
  font-size: 13px;
  max-width: none;
}