@import "editor.css";

/* Overwrite some styles */
body {
    position: inherit;
}

div#footer {
    width: 100%;
    padding: 20px 30px;
    height: 80px;
    position: absolute;
    bottom: 0;
    background-color: #ffa800;
}

div#footer-desc {
    float: left;
    height: 100px;
    padding: 0px 10px;
}

div#footer-logo {
    float: left;
    height: 100px;
}

#floating-panel {
    bottom: 80px;
    align-items: stretch;
}

div#mindplot {
    top:0;
}