@import "core.css";
.wrapper {
    max-width: 1024px;
    min-height: 400px;
}

.rcontent {
    padding-top: 100px;
    grid-area: content;
    text-align: center;
}

.rcontent p {
    color: black;
    font-size: 18px;
    margin: 10px 0px 30px 0px;
}

.rcontent h1 {
    color: #f9a826;
    font-size: 30px;
}